In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# Specify the path to your CSV files
data_path = r'C:\Users\joelw\GWAnalyticsClass\Challenges\Challenge18\Resources'

# List of CSV files
csv_files = [
    '01_2022.csv', '02_2022.csv', '03_2022.csv', '04_2022.csv',
    '05_2022.csv', '06_2022.csv', '07_2022.csv', '08_2022.csv',
    '09_2022.csv', '10_2022.csv', '11_2022.csv', '12_2022.csv'
]

# Combine CSV files into a single DataFrame
combined_data = pd.concat([pd.read_csv(os.path.join(data_path, file)) for file in csv_files], ignore_index=True)

# Data Cleaning Steps
# Example: Remove duplicates
combined_data.drop_duplicates(inplace=True)

# Export cleaned data to a new CSV file named "2022_all_data.csv"
cleaned_data_path = r'C:\Users\joelw\GWAnalyticsClass\Challenges\Challenge18\2022_all_data.csv'
combined_data.to_csv(cleaned_data_path, index=False)

print("Data cleaning and CSV export completed.")

Data cleaning and CSV export completed.

In [3]:
# Path to the cleaned data CSV file
cleaned_data_path = r'C:\Users\joelw\GWAnalyticsClass\Challenges\Challenge18\2022_all_data.csv'

# Read the CSV file into a DataFrame
cleaned_data_df = pd.read_csv(cleaned_data_path)

# Print the DataFrame
cleaned_data_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,CA5837152804D4B5,electric_bike,2022-01-26 18:50:39,2022-01-26 18:51:53,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member
1,BA06A5E45B6601D2,classic_bike,2022-01-28 13:14:07,2022-01-28 13:20:23,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member
2,7B6827D7B9508D93,classic_bike,2022-01-10 19:55:13,2022-01-10 20:00:37,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member
3,6E5864EA6FCEC90D,electric_bike,2022-01-26 07:54:57,2022-01-26 07:55:22,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member
4,E24954255BBDE32D,electric_bike,2022-01-13 18:44:46,2022-01-13 18:45:43,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member

In [4]:
# Path to the cleaned data CSV file
cleaned_data_path = r'C:\Users\joelw\GWAnalyticsClass\Challenges\Challenge18\2022_all_data.csv'

# Read the cleaned data CSV into a DataFrame
cleaned_data_df = pd.read_csv(cleaned_data_path)

# Splitting "started_at" into "started_date" and "started_time"
cleaned_data_df[['started_date', 'started_time']] = cleaned_data_df['started_at'].str.split(' ', expand=True)

# Splitting "ended_at" into "ended_date" and "ended_time"
cleaned_data_df[['ended_date', 'ended_time']] = cleaned_data_df['ended_at'].str.split(' ', expand=True)

# Renaming columns
cleaned_data_df.rename(columns={'started_at': 'started_datetime', 'ended_at': 'ended_datetime'}, inplace=True)

# Print the first few rows of the DataFrame to verify the changes
cleaned_data_df.head()

,ride_id,rideable_type,started_datetime,ended_datetime,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,started_date,started_time,ended_date,ended_time
0,CA5837152804D4B5,electric_bike,2022-01-26 18:50:39,2022-01-26 18:51:53,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member,2022-01-26,18:50:39,2022-01-26,18:51:53
1,BA06A5E45B6601D2,classic_bike,2022-01-28 13:14:07,2022-01-28 13:20:23,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member,2022-01-28,13:14:07,2022-01-28,13:20:23
2,7B6827D7B9508D93,classic_bike,2022-01-10 19:55:13,2022-01-10 20:00:37,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member,2022-01-10,19:55:13,2022-01-10,20:00:37
3,6E5864EA6FCEC90D,electric_bike,2022-01-26 07:54:57,2022-01-26 07:55:22,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member,2022-01-26,07:54:57,2022-01-26,07:55:22
4,E24954255BBDE32D,electric_bike,2022-01-13 18:44:46,2022-01-13 18:45:43,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member,2022-01-13,18:44:46,2022-01-13,18:45:43

In [5]:
# Drop the unnecessary columns
cleaned_data_df.drop(['started_datetime', 'ended_datetime'], axis=1, inplace=True)

cleaned_data_df.head()

,ride_id,rideable_type,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,started_date,started_time,ended_date,ended_time
0,CA5837152804D4B5,electric_bike,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member,2022-01-26,18:50:39,2022-01-26,18:51:53
1,BA06A5E45B6601D2,classic_bike,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member,2022-01-28,13:14:07,2022-01-28,13:20:23
2,7B6827D7B9508D93,classic_bike,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member,2022-01-10,19:55:13,2022-01-10,20:00:37
3,6E5864EA6FCEC90D,electric_bike,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member,2022-01-26,07:54:57,2022-01-26,07:55:22
4,E24954255BBDE32D,electric_bike,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member,2022-01-13,18:44:46,2022-01-13,18:45:43

In [6]:
# Calculate ride duration in minutes
time_format = "%H:%M:%S"
cleaned_data_df['ride_duration'] = (pd.to_datetime(cleaned_data_df['ended_time'], format=time_format) - pd.to_datetime(cleaned_data_df['started_time'], format=time_format)).dt.total_seconds() / 60

cleaned_data_df.head()

,ride_id,rideable_type,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,started_date,started_time,ended_date,ended_time,ride_duration
0,CA5837152804D4B5,electric_bike,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member,2022-01-26,18:50:39,2022-01-26,18:51:53,1.233333
1,BA06A5E45B6601D2,classic_bike,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member,2022-01-28,13:14:07,2022-01-28,13:20:23,6.266667
2,7B6827D7B9508D93,classic_bike,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member,2022-01-10,19:55:13,2022-01-10,20:00:37,5.400000
3,6E5864EA6FCEC90D,electric_bike,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member,2022-01-26,07:54:57,2022-01-26,07:55:22,0.416667
4,E24954255BBDE32D,electric_bike,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member,2022-01-13,18:44:46,2022-01-13,18:45:43,0.950000

In [7]:
# Calculate distance using Haversine formula (in miles)
def haversine_distance(lat1, lon1, lat2, lon2):
    R = 3958.8  # Earth radius in miles
    
    lat1_rad = np.radians(lat1)
    lon1_rad = np.radians(lon1)
    lat2_rad = np.radians(lat2)
    lon2_rad = np.radians(lon2)
    
    dlat = lat2_rad - lat1_rad
    dlon = lon2_rad - lon1_rad
    
    a = np.sin(dlat / 2)**2 + np.cos(lat1_rad) * np.cos(lat2_rad) * np.sin(dlon / 2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
    
    distance = R * c
    return distance

cleaned_data_df['distance_miles'] = haversine_distance(
    cleaned_data_df['start_lat'], cleaned_data_df['start_lng'],
    cleaned_data_df['end_lat'], cleaned_data_df['end_lng']
)

# Add a new column for approximate distance traveled
def categorize_distance(distance):
    if distance < 0.5:
        return "0-0.49 mile"
    elif distance < 1:
        return "0.5-0.99 mile"
    elif distance < 1.5:
        return "1-1.49 miles"
    elif distance < 2:
        return "1.5-1.99 miles"
    elif distance < 2.5:
        return "2-2.49 miles"
    elif distance < 3:
        return "2.5-2.99 miles"
    elif distance < 3.5:
        return "3-3.49 miles"
    elif distance < 4:
        return "3.5-3.99 miles"
    elif distance < 10:
        return "4-9.99 miles"
    else:
        return "10+ miles"

cleaned_data_df['approximate_distance_traveled'] = cleaned_data_df['distance_miles'].apply(categorize_distance)

cleaned_data_df.to_csv('cleaned_data_2022.csv', index=False)

cleaned_data_df.head()

,ride_id,rideable_type,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,started_date,started_time,ended_date,ended_time,ride_duration,distance_miles,approximate_distance_traveled
0,CA5837152804D4B5,electric_bike,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member,2022-01-26,18:50:39,2022-01-26,18:51:53,1.233333,0.0,0-0.49 mile
1,BA06A5E45B6601D2,classic_bike,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member,2022-01-28,13:14:07,2022-01-28,13:20:23,6.266667,0.0,0-0.49 mile
2,7B6827D7B9508D93,classic_bike,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member,2022-01-10,19:55:13,2022-01-10,20:00:37,5.400000,0.0,0-0.49 mile
3,6E5864EA6FCEC90D,electric_bike,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member,2022-01-26,07:54:57,2022-01-26,07:55:22,0.416667,0.0,0-0.49 mile
4,E24954255BBDE32D,electric_bike,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member,2022-01-13,18:44:46,2022-01-13,18:45:43,0.950000,0.0,0-0.49 mile

In [11]:
# Count the occurrences of each start location
top_start_locations = cleaned_data_df[['start_lat', 'start_lng', 'start_station_name']].value_counts().reset_index(name='count')

# Select the top 50 start locations
top_50_start = top_start_locations.head(50)

# Save the new DataFrame to a CSV
top_50_start.to_csv('top_50_start.csv', index=False)

top_50_start.head()

   start_lat  start_lng                            start_station_name  count
0  40.719586 -74.043117                                 Grove St PATH  37728
1  40.736982 -74.027781  South Waterfront Walkway - Sinatra Dr & 1 St  30067
2  40.736068 -74.029127       Hoboken Terminal - River St & Hudson Pl  27439
3  40.735938 -74.030305      Hoboken Terminal - Hudson St & Hudson Pl  26085
4  40.737360 -74.030970              City Hall - Washington St & 1 St  19983

In [12]:
# Count the occurrences of each end location
top_end_locations = cleaned_data_df[['end_lat', 'end_lng', 'end_station_name']].value_counts().reset_index(name='count')

# Select the top 50 end locations
top_50_end = top_end_locations.head(50)

# Save the new DataFrame to a CSV
top_50_end.to_csv('top_50_end.csv', index=False)

top_50_end.head()

     end_lat    end_lng                              end_station_name  count
0  40.719586 -74.043117                                 Grove St PATH  44383
1  40.736982 -74.027781  South Waterfront Walkway - Sinatra Dr & 1 St  33802
2  40.736068 -74.029127       Hoboken Terminal - River St & Hudson Pl  32211
3  40.735938 -74.030305      Hoboken Terminal - Hudson St & Hudson Pl  30089
4  40.737360 -74.030970              City Hall - Washington St & 1 St  23591

In [13]:
# Group by start and end locations and count occurrences
top_combinations = cleaned_data_df.groupby(['start_lat', 'start_lng', 'start_station_name', 'end_lat', 'end_lng', 'end_station_name']).size().reset_index(name='count')

# Sort by count in descending order
top_combinations = top_combinations.sort_values(by='count', ascending=False)

# Select the top 50 combinations
top_50_combinations = top_combinations.head(50)

# Save the new DataFrame to a CSV
top_50_combinations.to_csv('top_50_combinations.csv', index=False)

top_50_combinations.head()

,start_lat,start_lng,start_station_name,end_lat,end_lng,end_station_name,count
69649,40.736982,-74.027781,South Waterfront Walkway - Sinatra Dr & 1 St,40.736982,-74.027781,South Waterfront Walkway - Sinatra Dr & 1 St,4670
62086,40.735938,-74.030305,Hoboken Terminal - Hudson St & Hudson Pl,40.735208,-74.046964,Hoboken Ave at Monmouth St,4652
7717,40.714584,-74.042817,Marin Light Rail,40.719586,-74.043117,Grove St PATH,3867
20372,40.719586,-74.043117,Grove St PATH,40.714584,-74.042817,Marin Light Rail,3718
111688,40.750604,-74.024020,12 St & Sinatra Dr N,40.736982,-74.027781,South Waterfront Walkway - Sinatra Dr & 1 St,3557